# Python cache / build
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log
